$light: 100;
$book: 200;
$medium: 300;
$semibold: 400;
$bold: 500;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('opentype');
  font-style: normal;
  font-stretch: normal;
}