@import './common/fonts';
@import './common/vars';

@import './partials/landing';

.update-notification {
	position: absolute;
	top:0;
	left:0;
	padding: 20px;
	button {
		background-color:red;
		color:white;
		outline:none;
	}
}

home {
	font-family: 'MarkPro';
}