<section class="vigilante">
  <header>
    <h1>Vigilante's feed</h1>
  </header>
  <div class="content">
    <table>
      <tr class='title'>
        <th>Name</th>
        <th>Website</th>
        <th>Has it changed ?</th>
        <th>Last viewed</th>
      </tr>
      <!--  -->
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th class="changed">Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th class="unchanged">Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th>Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th>Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th>Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th>Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th>Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th>Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
      <tr>
        <th>Press - Omate</th>
        <th>http://www.omate.com/press/</th>
        <th>Yes, it has changed</th>
        <th>01/01/2017</th>
      </tr>
    </table>
  </div>
</section>