<div class="update-notification" [class.active]="notifActive" *ngIf="appUpdater != undefined && appUpdater.updateAvailable">
  <div class="logo"></div>
  <div class="message">
    <p>A new update is available</p>
    <span>It might be amazing</span>
  </div>
  <button (click)="updateSoftware()">Install now</button>
</div>

<search #search [(data)]="data" *ngIf="data.page === 'search'"></search>
<home  #home [(data)]="data" (onSearch)="searchComponent.search(data.keywords, data.sort)" *ngIf="data.page === 'home'"></home>