<div class="update-notification" [class.active]="notifActive" *ngIf="appUpdater != undefined && appUpdater.updateAvailable">
  <div class="logo"></div>
  <div class="message">
    <p>A new update is available</p>
    <span>It might be amazing</span>
  </div>
  <button (click)="updateSoftware()">Install now</button>
</div>

<navigation #navigation class="container top" [(data)]="data" [class.visible]="data.page !== 'home'"></navigation>

<home  #home class="container left" [(data)]="data" (onSearch)="searchFunction($event)" [class.visible]="data.page === 'home'"></home>
<search #search class="container right" [class.visible]="data.page === 'search'" (onSearch)="searchFunction($event)" [(data)]="data"></search>
<vigilante #vigilante  class="container right" [class.visible]="data.page === 'vigilante'" [(data)]="data"></vigilante>